*, *::before, *::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  margin: 5px;
  padding: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > input {
  margin-bottom: 3px;
  width: 300px;
}

.half-blog {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: -40px;
}

.half-blog > button {
  width: 80px;
  height: 25px;
}
